# sender information
LIGHTWEIGHT_MAILER_SENDER_EMAIL = "youremail@example.com"
LIGHTWEIGHT_MAILER_SENDER_PASSWORD = "yourpassword"
LIGHTWEIGHT_MAILER_MAIL_SERVER = "smtp.example.com"

# 465 for implicit SSL, 587 for explicit TLS
LIGHTWEIGHT_MAILER_PORT = 587